@using BugTracker.Helpers

@model IEnumerable<TicketIndexViewModel>

@{
    ViewBag.Title = "Index";
}

<div class="content-wrapper">
    <h2>Index</h2>

    @*<p>
            @Html.ActionLink("Create New", "Create")
        </p>*@

    <!-- original Scafold taable-->
    <section>
        @*<table class="table">
                <tr>
                    <th>
                        @Html.DisplayName("Developer")
                    </th>
                    <th>
                            @Html.DisplayName("Project")
                        </th>
                    <th>
                        // check End of Allison (maybe Video11) for how to display this as is and not hard coded string.drew says it.
                        @Html.DisplayNameFor(model => model.Ticket.Submitter.FullName)
                    </th>
                    <th>
                        @Html.DisplayName("Priority")
                    </th>
                    <th>
                        @Html.DisplayName("Status")
                    </th>
                    <th>
                        @Html.DisplayName("Text Status")
                    </th>
                    <th>
                        @Html.DisplayName("Type")
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Ticket.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Ticket.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Ticket.Created)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Ticket.Updated)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Ticket.IsArchived)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ticket.Developer.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ticket.Project.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ticket.Submitter.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ticket.TicketTypeId)
                        </td>
                        <td class="@colorHelper.GetStatusColorClass2(item.Ticket.TicketStatus.Name)">
                            @Html.DisplayFor(modelItem => item.Ticket.TicketStatus.Name)
                        </td>
                        <td class="@colorHelper.GetStatusColorClass2(item.Ticket.TicketStatus.Name)">
                            @using (Html.BeginForm("SpecialEdit", "Tickets"))
                            {
                                @Html.AntiForgeryToken()
                                @Html.Hidden("TicketId", item.Ticket.Id)

                                <div class=" row">
                                    <div class=" col">
                                        @Html.DropDownList("TicketStatusId", item.TicketStatus)
                                    </div>
                                </div>
                                <div class=" row">
                                    <div class=" col">
                                        <button type="submit" class="btn btn-outline-dark btn-sm">Save</button>
                                    </div>
                                </div>

                            }


                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Ticket.TicketPriorityId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ticket.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ticket.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ticket.Created)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ticket.Updated)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ticket.IsArchived)
                        </td>
                        <td>
                            @if (User.IsInRole("Admin") || User.IsInRole("PM"))
                            {
                                @Html.ActionLink("Edit", "Edit", new { id = item.Ticket.Id })
                                @Html.ActionLink("Delete", "Delete", new { id = item.Ticket.Id })
                            }
                            @Html.ActionLink("Details", "Details", new { id = item.Ticket.Id })
                        </td>
                    </tr>
                }

            </table>*@
    </section>

    <!-- TABLE: LATEST ORDERS -->
    <div class="card">
        <div class="card-header border-transparent">
            <h3 class="card-title">Current Tickets</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
                @*<button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                    </button>*@
            </div>
        </div>

        <!-- /.card-header -->
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table m-0">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Ticket.Title)
                            </th>
                            <th>
                                @Html.DisplayName("Developer")
                            </th>
                            <th> @Html.DisplayName("Status")</th>

                            <th> @Html.DisplayName("Type")</th>
                            <th> @Html.DisplayName("Priority")</th>
                            @*<th> @Html.DisplayNameFor(model => model.Ticket.IsArchived)</th>*@
                            <th></th>
                            <th> @Html.DisplayNameFor(model => model.Ticket.Created)</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td> @Html.DisplayName(item.Ticket.Title)</td>
                               
                                @using (Html.BeginForm("SpecialEdit", "Tickets"))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.Hidden("TicketId", item.Ticket.Id)
                                    @Html.Hidden("Created", item.Ticket.Created)
                                    if (User.IsInRole("Sub") || User.IsInRole("Dev"))
                                    {
                                        @Html.Hidden("DeveloperId", item.Ticket.DeveloperId)
                                        @Html.Hidden("TicketStatusId", item.Ticket.TicketStatusId)
                                        @Html.Hidden("IsArchieved", item.Ticket.IsArchived)
                                    }
                                    <td>
                                        @if (User.IsInRole("Sub") || User.IsInRole("Dev"))
                                        {
                                            @Html.DisplayName(DisplayHelper.ChangeUserIdToFullName(item.Ticket.DeveloperId))
                                        }
                                        else
                                        {
                                            @Html.DropDownList("DeveloperId", item.Developer)
                                        }

                                    </td>
                                    <td>
                                        @if (User.IsInRole("Sub"))
                                        {
                                            @Html.DisplayName(DisplayHelper.ChangeTicketStatusIdToName(item.Ticket.TicketStatusId))
                                        }
                                        else
                                        {
                                            @Html.DropDownList("TicketStatusId", item.TicketStatus)

                                        }
                                    </td>
                                    <td>
                                        @Html.DropDownList("TicketTypeId", item.TicketType)
                                    </td>

                                    <td>
                                        @Html.DropDownList("TicketPriorityId", item.TicketPriority)
                                    </td>
                                    @*<td >
                                        @Html.CheckBox("IsArchived", item.Ticket.IsArchived)
                                    </td>*@
                                    <td>
                                        <button type="submit" class=" btn btn-outline-dark btn-sm">Save</button>
                                    </td>

                                }
                                <td> @Html.DisplayName(item.Ticket.Created.ToString("MMM, dd yyyy"))</td>
                                <td>
                                  
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Ticket.Id }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.Ticket.Id }) |
                                    @Html.ActionLink("Dashboard", "Dashboard", new { id = item.Ticket.Id })
                                </td>

                            </tr>
                        }
                       

                    </tbody>
                </table>
            </div>
            <!-- /.table-responsive -->
        </div>
        <!-- /.card-body -->
       
        <!-- /.card-footer -->
    </div>
    <!-- /.card -->
</div>