@using BugTracker.ViewModel

@model UserProfileViewModel

@{
    ViewBag.Title = "UserProfile";
}

<div class="content-wrapper">

    <h2>User Dashboard</h2>

    @*<table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Project")
                    </th>
                    <th>
                        @Html.DisplayName("Description")
                    </th>
                    <th>
                        @Html.DisplayName("Submitter")
                    </th>
                    <th>
                        @Html.DisplayName("Developer")
                    </th>
                    <th>
                        @Html.DisplayName("Ticket Status")
                    </th>
                    <th>
                        @Html.DisplayName("Ticket Type")
                    </th>
                    <th>
                        @Html.DisplayName("Ticket Priorty")
                    </th>
                    <th>
                        @Html.DisplayName("Created")
                    </th>

                    <th>
                        @Html.DisplayName("Archived")
                    </th>

                    <th>
                        @Html.DisplayName("Tickets")
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ProjectsIn)
                {
                    <tr>
                        <td>

                            <a href="@Url.Action("Index","Projects" ,new { id = item.Id })" class="nav-link ">

                                <p>@item.Name </p>
                            </a>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Submitter.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Developer.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TicketStatus.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TicketTypeId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TicketPriorityId)
                        </td>
                        <td>
                            <a href="#" class="nav-link ">

                                <p>@item.Created </p>
                            </a>
                        </td>

                        <td>
                            <nav class="mt-2">
                                 <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                                     Add icons to the links using the .nav-icon class
                                with font-awesome or any other icon font library
                                    @if (item.Tickets.Count != 0)
                                    {
                                        <li class="nav-item has-treeview ">
                                            <a href="#" class="nav-link ">
                                                <i class="nav-icon fas fa-tachometer-alt"> Ticket </i>

                                            </a>
                                            <ul class="nav nav-treeview">
                                                @foreach (var ticket in item.Tickets)
                                                {


                                                    <li class="nav-item">
                                                        <a href="@Url.Action("Dashboard","Tickets" ,new { id = ticket.Id })" class="nav-link ">
                                                            <i class="left fas fa-ticket-alt"></i>
                                                            <p>@ticket.Title </p>
                                                        </a>
                                                    </li>
                                                    <div class="dropdown-divider"></div>
                                                }
                                            </ul>
                                        </li>
                                    }
                                    else
                                    {

                                        <a href="#" class="nav-link ">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>No Tickets Assigned Yet</p>
                                        </a>

                                    }
                                </ul>
                            </nav>
                        </td>
                        <td>
                            @Html.ActionLink("Manage Members", "ManageProjectLevelUsers", new { id = item.Id }) |
                            @Html.ActionLink("Edit Project", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Create New", "Create", "Tickets")

                            @if (User.IsInRole("Sub"))
                            {
                                <a href="@Url.Action("Create", "Tickets", new { projectId = item.Id })" class="nav-link ">

                                    <p>Create Ticket</p>
                                </a>

                            }
                        </td>
                    </tr>
                }

            </tbody>

        </table>*@




    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("Project")
                </th>

                <th>
                    @Html.DisplayName("Created")
                </th>



                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ProjectsIn)
            {
                <tr>
                    <td>

                        <a href="@Url.Action("Index","Projects" ,new { id = item.Id })" class="nav-link ">

                            <p>@item.Name </p>
                        </a>

                    <td>
                        <a href="#" class="nav-link ">

                            <p>@item.Created </p>
                        </a>
                    </td>

                    <td>
                        @*@Html.ActionLink("Manage Members", "ManageProjectLevelUsers", new { id = item.Id }) |
                            @Html.ActionLink("Edit Project", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Create New", "Create", "Tickets")*@

                        @if (User.IsInRole("Sub"))
                        {
                            <a href="@Url.Action("Create", "Tickets", new { projectId = item.Id })" class="nav-link ">

                                <p>Create Ticket</p>
                            </a>

                        }
                    </td>
                </tr>
            }

        </tbody>

    </table>


    <h2>My Tickets</h2>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("Tickets")
                </th>

                <th>
                    @Html.DisplayName("Created")
                </th>



                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.TicketsIn.Count != 0)
            {
                foreach (var ticket in Model.TicketsIn)
                {
                    <tr>
                        <td>
                            <a href="@Url.Action("Dashboard", "Tickets", new { id = ticket.Id })" class="nav-link ">
                                
                                <p>@ticket.Title </p>
                            </a>
                        </td>

                        <td>
                            <a href="#" class="nav-link ">

                                <p>@ticket.Created </p>
                            </a>
                        </td>
                        <td></td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td>
                        <a href="#" class="nav-link ">
                            
                            <p>No Tickets Assigned Yet</p>
                        </a>
                    </td>
                    <td>
                        <a href="#" class="nav-link ">

                            <p>N/A </p>
                        </a>
                    </td>
                    <td></td>
                </tr>


            }




        </tbody>

    </table>

</div>

