@using BugTracker.ViewModel

@model UserProfileViewModel

@{
    ViewBag.Title = "UserProfile";
}

<div class="content-wrapper">

    <h2>User Dashboard</h2>

    @*<table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Project")
                    </th>
                    <th>
                        @Html.DisplayName("Description")
                    </th>
                    <th>
                        @Html.DisplayName("Submitter")
                    </th>
                    <th>
                        @Html.DisplayName("Developer")
                    </th>
                    <th>
                        @Html.DisplayName("Ticket Status")
                    </th>
                    <th>
                        @Html.DisplayName("Ticket Type")
                    </th>
                    <th>
                        @Html.DisplayName("Ticket Priorty")
                    </th>
                    <th>
                        @Html.DisplayName("Created")
                    </th>

                    <th>
                        @Html.DisplayName("Archived")
                    </th>

                    <th>
                        @Html.DisplayName("Tickets")
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ProjectsIn)
                {
                    <tr>
                        <td>

                            <a href="@Url.Action("Index","Projects" ,new { id = item.Id })" class="nav-link ">

                                <p>@item.Name </p>
                            </a>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Submitter.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Developer.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TicketStatus.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TicketTypeId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TicketPriorityId)
                        </td>
                        <td>
                            <a href="#" class="nav-link ">

                                <p>@item.Created </p>
                            </a>
                        </td>

                        <td>
                            <nav class="mt-2">
                                 <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                                     Add icons to the links using the .nav-icon class
                                with font-awesome or any other icon font library
                                    @if (item.Tickets.Count != 0)
                                    {
                                        <li class="nav-item has-treeview ">
                                            <a href="#" class="nav-link ">
                                                <i class="nav-icon fas fa-tachometer-alt"> Ticket </i>

                                            </a>
                                            <ul class="nav nav-treeview">
                                                @foreach (var ticket in item.Tickets)
                                                {


                                                    <li class="nav-item">
                                                        <a href="@Url.Action("Dashboard","Tickets" ,new { id = ticket.Id })" class="nav-link ">
                                                            <i class="left fas fa-ticket-alt"></i>
                                                            <p>@ticket.Title </p>
                                                        </a>
                                                    </li>
                                                    <div class="dropdown-divider"></div>
                                                }
                                            </ul>
                                        </li>
                                    }
                                    else
                                    {

                                        <a href="#" class="nav-link ">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>No Tickets Assigned Yet</p>
                                        </a>

                                    }
                                </ul>
                            </nav>
                        </td>
                        <td>
                            @Html.ActionLink("Manage Members", "ManageProjectLevelUsers", new { id = item.Id }) |
                            @Html.ActionLink("Edit Project", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Create New", "Create", "Tickets")

                            @if (User.IsInRole("Sub"))
                            {
                                <a href="@Url.Action("Create", "Tickets", new { projectId = item.Id })" class="nav-link ">

                                    <p>Create Ticket</p>
                                </a>

                            }
                        </td>
                    </tr>
                }

            </tbody>

        </table>*@


    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Ticket Priority</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <div class="row">
                <div class="col-md-8">
                    <div class="chart-responsive">
                        <canvas id="pieChart1" height="50"></canvas>
                    </div>


                    <!-- ./chart-responsive -->
                </div>
                <!-- /.col -->
                <div class="col-md-4">
                    <ul class="chart-legend clearfix">

                        <li><i class="far fa-circle text-danger"></i> Immediate</li>
                        <li><i class="far fa-circle text-success"></i> 'High</li>
                        <li><i class="far fa-circle text-warning"></i> Medium</li>
                        <li><i class="far fa-circle text-info"></i> Low</li>
                        <li><i class="far fa-circle text-primary"></i> None</li>

                    </ul>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.card-body -->
        @*<div class="card-footer bg-white p-0">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            United States of America
                            <span class="float-right text-danger">
                                <i class="fas fa-arrow-down text-sm"></i>
                                12%
                            </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            India
                            <span class="float-right text-success">
                                <i class="fas fa-arrow-up text-sm"></i> 4%
                            </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            China
                            <span class="float-right text-warning">
                                <i class="fas fa-arrow-left text-sm"></i> 0%
                            </span>
                        </a>
                    </li>
                </ul>
            </div>*@
        <!-- /.footer -->
    </div>

    @if (User.IsInRole("Admin") || User.IsInRole("PM"))
    {

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Project")
                    </th>

                    <th>
                        @Html.DisplayName("Created")
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ProjectsOut)
                {
                <tr>
                    <td>
                        @Html.ActionLink($"{item.Name }", "Details", "Projects", new { id = item.Id }, new { @class = "nav-link" })

                    </td>
                    @*<td>
                     
                       
                            @Html.DropDownList("DeveloperId", item.DeveloperId)
                      

                    </td>*@
                    <td>
                        <a href="#" class="nav-link ">

                            <p>@item.Created </p>
                        </a>
                    </td>

                    <td>
                        @*@Html.ActionLink("Manage Members", "ManageProjectLevelUsers", new { id = item.Id }) |
            @Html.ActionLink("Edit Project", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Create New", "Create", "Tickets")*@

                        @if (User.IsInRole("Sub"))
                        {
                            <a href="@Url.Action("Create", "Tickets", new { projectId = item.Id })" class="nav-link ">

                                <p>Create Ticket</p>
                            </a>

                        }
                    </td>
                </tr>
                }

            </tbody>

        </table>
    }

    @if (User.IsInRole("Dev") || User.IsInRole("Sub"))
    {

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Project")
                    </th>

                    <th>
                        @Html.DisplayName("Created")
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ProjectsIn)
                {
                    <tr>
                        <td>

                            <a href="@Url.Action("Details","Projects" ,new { id = item.Id })" class="nav-link ">

                                <p>@item.Name </p>
                            </a>

                        <td>
                            <a href="#" class="nav-link ">

                                <p>@item.Created </p>
                            </a>
                        </td>

                        <td>
                            @*@Html.ActionLink("Manage Members", "ManageProjectLevelUsers", new { id = item.Id }) |
                                @Html.ActionLink("Edit Project", "Edit", new { id = item.Id }) |
                                @Html.ActionLink("Create New", "Create", "Tickets")*@

                            @if (User.IsInRole("Sub"))
                            {
                                <a href="@Url.Action("Create", "Tickets", new { projectId = item.Id })" class="nav-link ">

                                    <p>Create Ticket</p>
                                </a>

                            }
                        </td>
                    </tr>
                }

            </tbody>

        </table>
    }

    @if (User.IsInRole("Dev") || User.IsInRole("Sub"))
    {
        <h2>My Tickets</h2>
    }
    @if (User.IsInRole("Admin") || User.IsInRole("PM"))
    {
        <h2>All Tickets</h2>
    }

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("Tickets")
                </th>
                <th>
                    @Html.DisplayName("Created")
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.TicketsIn.Count != 0)
            {
                foreach (var ticket in Model.TicketsIn)
                {
                    <tr>
                        <td>
                            <a href="@Url.Action("Dashboard", "Tickets", new { id = ticket.Id })" class="nav-link ">

                                <p>@ticket.Title </p>
                            </a>
                        </td>

                        <td>
                            <a href="#" class="nav-link ">

                                <p>@ticket.Created </p>
                            </a>
                        </td>
                        <td></td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td>
                        <a href="#" class="nav-link ">
                            <p>No Tickets Assigned Yet</p>
                        </a>
                    </td>
                    <td>
                        <a href="#" class="nav-link ">
                            <p>N/A </p>
                        </a>
                    </td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>

</div>

@section scripts {
    <script>

        //-------------
        //- PIE CHART -
        //-------------
        // Get context with jQuery - using jQuery's .get() method.
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetTicketPriorityPieChatData", "Chart")',
            dataType: "Json"
        }).then(function (response) {
            var pieChartCanvas = $('#pieChart1').get(0).getContext('2d')
            var pieData = {
                labels: response.Lables,

                datasets: [
                    {

                        data: response.Data,
                        backgroundColor: response.BackgroundColor,
                    }
                ]
            }
            var pieOptions = {
                legend: {
                    display: false
                }
            }
            //Create pie or douhnut chart
            // You can switch between pie and douhnut using the method below.
            var pieChart = new Chart(pieChartCanvas, {
                type: 'doughnut',
                data: pieData,
                options: pieOptions
            })
        });

      //-----------------
      //- END PIE CHART -
      //-----------------

    </script>

}