@using BugTracker.ViewModel

@model UserProfileViewModel

@{
    ViewBag.Title = "UserProfile";
}

    <div class="content-wrapper">

        <h2>UserProfile</h2>

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayName("Developer")
                </th>
                <th>
                    @Html.DisplayName("Project")
                </th>
                <th>
                    @Html.DisplayName("Submitter")
                </th>
                <th>
                    @Html.DisplayName("Ticket Type")
                </th>
                <th>
                    @Html.DisplayName("Ticket Priorty")
                </th>
                <th>
                    @Html.DisplayName("Title")
                </th>
                <th>
                    @Html.DisplayName("Ticket Status")
                </th>
                <th>
                    @Html.DisplayName("Created")
                </th>
                <th>
                    @Html.DisplayName("Updated")
                </th>
                <th>
                    @Html.DisplayName("Archived")
                </th>

                <th></th>
            </tr>

            @foreach (var item in Model.TicketsIn)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Developer.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Submitter.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketTypeId)
            </td>
            <td>
                @*@Html.ActionLink("Manage Members", "ManageProjectLevelUsers", new { id = item.Id }) |
                @Html.ActionLink("Edit Project", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Create Ticket", "Create", "Ticket", new { projectId = item.Project.ProjectManagerId })*@

            </td>
        </tr>
            }

        </table>



    </div>